//text styles
.x-large {
    font-size: 4rem;
    line-height: 1.2;
    margin-bottom: 1rem;

}
.large{
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.lead{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
//backgrounds
.bg{
    &-primary{ //a placeholder --> bg-primary this one, like a cond
       @include set-background($primary-color);
    }
    &-light{ //a placeholder --> bg-primary this one, like a cond
        @include set-background($light-color);
        border: #ccc 1px solid; //only for the white color
     }
     &-dark{ //a placeholder --> bg-primary this one, like a cond
        @include set-background($dark-color);
     }
     &-success{ //a placeholder --> bg-primary this one, like a cond
        @include set-background($success-color);
     }
     &-danger{ //a placeholder --> bg-primary this one, like a cond
        @include set-background($danger-color);
     }
     &-white{ //a placeholder --> bg-primary this one, like a cond
        @include set-background(#fff);
        border: #ccc 1px solid;
     }
}


//buttons
.btn{
    display:inline-block;
    background: $light-color;
    color: #333;
    padding: 0.4rem 1.3rem;
    border: none;
    cursor: pointer;//new
    font-size: 1rem;
    margin-right: 0.5rem;
    outline: none;
    transition: all 0.3s ease-in;//new hold the change a bit.. changing gradually

    &.btn-primary{
        @include set-background($primary-color);
        &:hover{
            background: lighten($primary-color, 5%);//extra function of scss

        }
    }
    &.btn-dark{
        @include set-background($dark-color);
        &:hover{
            background: lighten($dark-color, 5%);//extra function of scss

        }
    }
    &.btn-success{
        @include set-background($success-color);
        &:hover{
            background: lighten($success-color, 5%);//extra function of scss

        }
    }
    &.btn-danger{
        @include set-background($danger-color);
        &:hover{
            background: lighten($danger-color, 5%);//extra function of scss

        }
    }
   &:hover{
       background: lighten($dark-color, 20%);
       color: white;
   }
}

.dark-overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.6);
}